{% extends 'base.html' %}

{% block content %}
    <style>
        td{
            color: black;
        }
        th{
            color: black;
        }
        td a{
            color: blue;
        }
    </style>
    <div class="container h-100" >
        <div class="row h-100 justify-content-center align-items-center" style="min-width: 320px;">
            <div class="form-row" style="margin-top: 150px">
                <div class="form-group col-md-12">
                    <table class="table-sm" border="1px black">
                        <thead class="thead-dark">
                        <th>Название</th>
                        <th>Ссылка</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Сайт ФИПИ</td>
                            <td><a href="https://fipi.ru/">https://fipi.ru/</a></td>
                        </tr>
                        <tr>
                            <td>Бином: Электронные ресурсы по информатике</td>
                            <td><a href="https://www.lbz.ru/metodist/iumk/informatics/er.php">https://www.lbz.ru/metodist/iumk/informatics/er.php</a></td>
                        </tr>
                        <tr>
                            <td>Подготовка к ЕГЭ по информатике</td>
                            <td><a href="https://college.ru/informatika/index.html">https://college.ru/informatika/index.html</a></td>
                        </tr>
                        <tr>
                            <td>Журнал "Информатика"</td>
                            <td><a href="https://inf.1sept.ru/">https://inf.1sept.ru/</a></td>
                        </tr>
                        <tr>
                            <td>Библиотека видеоуроков по школьной программе InternetUrok.ru</td>
                            <td><a href="https://interneturok.ru/">https://interneturok.ru/</a></td>
                        </tr>
                        <tr>
                            <td>Клякс@.net</td>
                            <td><a href="http://www.klyaksa.net/">http://www.klyaksa.net/</a></td>
                        </tr>
                        <tr>
                            <td>Единая коллекция цифровых образовательных ресурсов</td>
                            <td><a href="http://school-collection.edu.ru/">http://school-collection.edu.ru/</a></td>
                        </tr>
                        <tr>
                            <td>Открытый урок: Первое сентября</td>
                            <td><a href="https://urok.1sept.ru/информатика">https://urok.1sept.ru/информатика</a></td>
                        </tr>
                        <tr>
                            <td>Система программирования PascalABC.NET</td>
                            <td><a href="http://pascalabc.net/">http://pascalabc.net/</a></td>
                        </tr>
                        <tr>
                            <td>Педсовет: Новости образования, педагогика, практика и методика улучшения педагогов</td>
                            <td><a href="https://pedsovet.org/">https://pedsovet.org/</a></td>
                        </tr>
                        <tr>
                            <td>Бесплатные видеоуроки и другие полезные материалы для учителей</td>
                            <td><a href="https://videouroki.net/blog/">https://videouroki.net/blog/</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}