{% extends 'base.html' %}

{% block content %}
    <div class="row h-100 justify-content-center align-items-center" style="width: 100%;">
        <div class="col-10" style="min-width: 320px; margin-top: 100px;  max-width: 800px;">

            <h3 style="color: #000; margin-top: 50px; text-align: center">Справка</h3>
            <div class="form-row" style="margin-top: 15px">
                <div class="form-group col-sm-12">

                        <button class="pressed-button-blue" type="button" data-toggle="collapse" data-target="#collapseTRPO" aria-expanded="false" aria-controls="collapseExample">
                            МДК 02.01 Теория разработки программного обеспечения
                        </button>
                        <div class="collapse" id="collapseTRPO">
                            <div class="card card-body" style="color: #000;">
                                Функции работы на странице :<br>
                                Просмотр данных:
                                <ol type="1">
                                    <li>При нажатии на кнопку "Прейти на страницу предмета" произойдёт переход на страницу предмета "МДК 02.01 Теория разработки программного обеспечения".</li>
                                    <li>На странице представлена таблица которая отображает список лекций или практик в зависимости от выбора пользователя.</li>
                                    <li>При нажатии на кнопку происходит переход на страницу где выводится таблица с оценками студентов.</li>
                                    <li>При нажатии на кнопку "Поиск по дате" на странице просмотра оценок происходит переход на страницу с выбором диапазона дат для вывода оценок.</li>
                                </ol>

                                Ввод данных:
                                <ol type="1">
                                    <li>При нажатии на кнопку "Создать новую лекцию" или "создать новую практику" в зависимости от выбора пользователя происходит переход на страницу с добавлением файла.</li>
                                    <li>При нажатии на кнопку "Создать новую оценку" на странице просмотра оценок происходит переход на страницу с добавлением оценки.</li>
                                </ol>

                                Удаление даление данных:
                                <ol type="1">
                                    <li>При нажатии кнопки "Удалить" происходит переход на страницу удаления файла</li>
                                </ol>
                            </div>
                        </div>
                </div>
            </div>
            <div class="form-row" style="margin-top: 15px">
                <div class="form-group col-sm-8">
                        <button class="pressed-button-blue" type="button" data-toggle="collapse" data-target="#collapsePP0201" aria-expanded="false" aria-controls="collapseExample">
                            МДК 02.01 Прикладное программирование
                        </button>
                        <div class="collapse" id="collapsePP0201">
                            <div class="card card-body" style="color: #000;">
                                Функции работы на странице :<br>
                                Просмотр данных:
                                <ol type="1">
                                    <li>При нажатии на кнопку "Прейти на страницу предмета" произойдёт переход на страницу предмета "МДК 02.01 Прикладное программирование".</li>
                                    <li>На странице представлена таблица которая отображает список лекций или практик в зависимости от выбора пользователя. </li>
                                    <li>При нажатии на кнопку происходит переход на страницу где выводится таблица с оценками студентов.</li>
                                    <li>При нажатии на кнопку "Поиск по дате" на странице просмотра оценок происходит переход на страницу с выбором диапазона дат для вывода оценок.</li>
                                </ol>
                                Ввод данных:
                                <ol type="1">
                                    <li>При нажатии на кнопку "Создать новую лекцию" или "создать новую практику" в зависимости от выбора пользователя происходит переход на страницу с добавлением файла.</li>
                                    <li>При нажатии на кнопку "Создать новую оценку" на странице просмотра оценок происходит переход на страницу с добавлением оценки.</li>
                                </ol>
                                Удаление данных:
                                <ol type="1">
                                    <li>При нажатии кнопки "Удалить" происходит переход на страницу удаления файла</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="form-row" style="margin-top: 15px">
                <div class="form-group col-sm-8">
                    <button class="pressed-button-blue" type="button" data-toggle="collapse" data-target="#collapsePP0102" aria-expanded="false" aria-controls="collapseExample">
                        МДК 01.02 Прикладное программирование
                    </button>
                    <div class="collapse" id="collapsePP0102">
                        <div class="card card-body" style="color: #000;">
                            Функции работы на странице: <br>
                            Просмотр данных:
                            <ol type="1">
                                <li>При нажатии на кнопку "Прейти на страницу предмета" произойдёт переход на страницу предмета "МДК 01.02 Прикладное программирование".</li>
                                <li>На странице представлена таблица которая отображает список лекций или практик в зависимости от выбора пользователя.</li>
                                <li>При нажатии на кнопку происходит переход на страницу где выводится таблица с оценками студентов.</li>
                                <li>При нажатии на кнопку "Поиск по дате" на странице просмотра оценок происходит переход на страницу с выбором диапазона дат для вывода оценок.</li>
                            </ol>
                            Ввод данных:
                            <ol type="1">
                                <li>При нажатии на кнопку "Создать новую лекцию" или "создать новую практику" в зависимости от выбора пользователя происходит переход на страницу с добавлением файла.</li>
                                <li>При нажатии на кнопку "Создать новую оценку" на странице просмотра оценок происходит переход на страницу с добавлением оценки.</li>
                                Удаление данных:
                                <ol type="1">
                                    <li> При нажатии кнопки "Удалить" происходит переход на страницу удаления файла</li>
                                </ol>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row" style="margin-top: 15px">
                <div class="form-group col-sm-12">
                    <button class="pressed-button-blue" type="button" data-toggle="collapse" data-target="#collapseWebResources" aria-expanded="false" aria-controls="collapseExample">
                        Веб ресурсы
                    </button>
                    <div class="collapse" id="collapseWebResources">
                        <div class="card card-body" style="color: #000;">
                            Функции работы на странице: <br>
                            Просмотр данных:
                            <ol type="1">
                                <li>При нажатии на кнопку "Веб ресурсы" происходит переход на страницу "Веб ресурсы".</li>
                                <li>На странице представлена таблица с ссылками на веб ресурсы для дополнительной информации.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-top: 15px">
                <div class="form-group col-sm-12">
                    <button class="pressed-button-blue" type="button" data-toggle="collapse" data-target="#collapseAboutPrepod" aria-expanded="false" aria-controls="collapseExample">
                        О преподавателе
                    </button>
                    <div class="collapse" id="collapseAboutPrepod"><div class="card card-body" style="color: #000;">
                        Функции работы на странице: <br>
                        Просмотр данных:
                        <ol type="1">
                            <li>При нажатии на кнопку "О преподавателе" происходит переход на страницу "Веб ресурсы".</li>
                            <li>На странице представлена информации о преподавателе</li>
                        </ol></div>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-top: 15px">
                <div class="form-group col-sm-12">
                    <button class="pressed-button-blue" type="button" data-toggle="collapse" data-target="#collapseRegister" aria-expanded="false" aria-controls="collapseExample">
                        Зарегистрировать
                    </button>
                    <div class="collapse" id="collapseRegister">
                        <div class="card card-body" style="color: #000;">
                            Функции работы на странице:
                            Просмотр данных:
                            <ol type="1">
                                <li>При нажатии на кнопку "Зарегистрировать" происходит переход на страницу "Зарегистрировать".</li>
                                <li>На странице отображается информация которую необходимо ввести для создания нового пользователя в виде:</li>
                                <ol type="a">
                                    <li>Имени</li>
                                    <li>Фамили</li>
                                    <li>Группы</li>
                                    <li>Электронной почты</li>
                                    <li>Пароля</li>
                                </ol>
                            </ol>
                            Добавление данных:
                            <ol type="1">
                                <li>При нажатии на кнопку "Зарегистрировать" происходит регистрация нового пользователя.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

{% endblock %}