.pressed-button-blue {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}
.pressed-button-blue:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}
.pressed-button-green {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #009900 0%, #7CFC00 50%, #287233 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(44, 85, 69, .35);
    transition: .5s;
}
.pressed-button-green:hover {
    box-shadow: 0 0 0 0 rgba(44, 85, 69, 0);
    background-position: 0 0;
    color: white;
}

.pressed-button-pink{
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #4B0082 0%, #FF00FF 50%, #800080 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(44, 85, 69, .35);
    transition: .5s;
}
.pressed-button-pink:hover {
    box-shadow: 0 0 0 0 rgba(44, 85, 69, 0);
    background-position: 0 0;
    color: white;
}